[submodule "pnp"]
	path = pnp
	url = git@github.com:sontung/pnp.git
[submodule "Hierarchical-Localization"]
	path = Hierarchical-Localization
	url = git@github.com:sontung/Hierarchical-Localization.git
[submodule "cnnimageretrieval-pytorch"]
	path = cnnimageretrieval-pytorch
	url = git@github.com:filipradenovic/cnnimageretrieval-pytorch.git
[submodule "pydegensac"]
	path = pydegensac
	url = git@github.com:ducha-aiki/pydegensac.git
